zone "<%= @zone %>" {
    type <%= @zone_type %>;
<% if @zone_notify -%>
    notify <%= @zone_notify %>;
<% end -%>
<% if @also_notify.size != 0 -%>
    also-notify {
    <%- @also_notify.each do |ip| -%>
        <%= ip %>;
    <%- end -%>
    };
<% end -%>
<% if (@zone_type != 'forward') && (@zone_type != 'delegation-only')-%>
    file "<%= @zone_file %>";
<% end -%>
<% if @zone_type == 'slave' -%>
<%- if @slave_masters.is_a?(Array) -%>
    masters { <%= @slave_masters.join(";") %>;};
<%- else -%>
    masters { <%= @slave_masters %>;};
<%- end -%>
<% elsif @zone_type == 'master' -%>
    <%- if @allow_transfer.is_a?(Array) and @allow_transfer.size != 0 -%>
        allow-transfer {
        <%- @allow_transfer.each do |ip| -%>
            <%= ip %>;
        <%- end -%>
        };
    <%- end -%>
<% end -%>
<% if (!@allow_forwarder.empty? or @allow_empty_forwarders) and ( @zone_type == 'master' or  @zone_type == 'forward') -%>
    forward <%= @forward_policy %>;
    forwarders {
    <%- @allow_forwarder.each do |ip| -%>
        <%= ip %>;
    <%- end -%>
    };
<% end -%>
    <%- if @allow_query.size != 0 %>
        allow-query {
        <%- @allow_query.each do |ip| -%>
            <%= ip %>;
        <%- end -%>
        };
    <%- end -%>
<%- if @allow_update.size != 0 %>
    allow-update {
    <%- @allow_update.each do |ip| -%>
        <%= ip %>;
    <%- end -%>
    };
<%- end -%>
};
